*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.imgg{
    top:-20px;
    position: absolute;
    width: 400px;
    margin-left: 20px;
}
@media screen and (max-width:600px) {
    .formy{
        padding: 0 10px;
    }
    .dvd{
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .wrapper{
        width: 70%;
        height: 70%;
        position: relative;
    }
    .imgg{
        margin-left: 20px;
        position: absolute;
        width: 250px;
        height: 380px;
        top: -20px;

    }
   #footer{
     width: 100%;
     padding: 0;
     height: 120px;
   }
   #socials {
    font-size: 15px;
    height: 80px;
   }
   #footer-words{
    width: 90%;
    justify-content: space-around;
   }
   #footer-word{
     height: 80px;
   }
   #heading{
    font-size: 10px;
   }
   #heading-two{
    font-size: 10px;
   }
   #newsLetter{
    width: 100%;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
   }
   #newsLetterHeading{
    font-size: 25px;
   }
   #newsLetterInput{
    width: 100%;
   }
   #newsLetterButton {
    width: 50%;
    font-size: 10px;
    margin-top: 10px;
   }
   .heroe1{
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 5px;
   }
   .ellipse1{
    width: 250px ;
    margin-left: 20px;
    margin-top: 10px;
   }
   .ellipse2{
    width: 200px ;
    align-self: center;
    margin-left: 45px;
   }
   .star{
    width: 100px;
   }
   .stick{
    width: 250px;
    margin-left: 30px;
   }
   .perc{
    margin-top: 180px;
    margin-left: 30px;
    font-size: 15px;
   }
   .vectors{
    width: 100%;
    margin-left: 30px;
   }
   .writeup{
    width: 60%;
    height: 50%;
    align-items: center;
    justify-content: center;
   }
   .wrt{
    font-size: 50px;
   }
   .btns{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
   }
   .btn{
    font-size: 10px;
    padding: 0 50px;
   }
   .exp{
    margin-top: 30px;
    padding: 10px 70px;
    margin-left: 0;
   }
   .ppp{
    width: 100%;
    height: 10%;
   }
   .pp{
    font-size: 50px;
   }
   #products{
    min-height: 180vh;
   }
   .card-con{
    flex-direction: column;
   }
   .my-card{
    margin-left: 0;
   }
}